/*Estilos del menu*/

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, main {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#scoreModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
}

#gameContainer {
    margin-top: 20px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px auto;
    }
}

/*Estilos de las preguntas*/

.question-container {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    max-width: 600px;
}
.question {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.answer {
    margin: 5px;
}
.answer.correct {
    background-color: #28a745;
}
.answer.wrong {
    background-color: #dc3545;
}