/*Estilos del menu*/

body, html {
    background: radial-gradient(circle, rgb(251, 63, 232) 0%, rgb(70, 225, 252) 100%); 
    font-family: 'Roboto', sans-serif;
    color: white;  
    justify-content: center;
}

header, main {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    background-color: #e5f1e5;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; 
    font-size: 24px;
    color: #3300ff;
    text-shadow: 1px 1px 2px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.5); /* Efecto de brillo */
    animation: neon 1.5s ease-in-out infinite alternate;
}



#gameContainer {
    margin-top: 20px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px auto;
    }
}

/*Estilos de las preguntas*/

.question-container {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    max-width: 600px;
    font-weight: bold;
}
.question {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.answer {
    background-color: #6d56f1 !important ;
    border-radius: 10px;
    margin: 5px;
}
.answer.correct {
    background-color: #28a745;
}
.answer.wrong {
    background-color: #dc3545;
}